<div class="group_34 column-layout">
  <div class="group_4 row-layout">
    <div class="group_1 row-layout">
      <img src="/assets/Infragistics-horizontal-w.svg" class="image" />
    </div>
  </div>
  <div class="group_5 row-layout">
    <div class="group_2">
      <img src="/assets/mv.svg" class="image_1" />
      <div class="group_3 row-layout">
        <div class="group_20 column-layout">
          <h1 class="element_4">
            業務アプリケーションのUIにおける課題
インフラジスティックスの開発ツールが解決します
          </h1>
          <p class="element_4">
            高機能かつハイパフォーマンスなUI部品でシステムをアップグレードしませんか？
          </p>
          <button igxButton="raised" igxRipple class="button">
            技術コンサルタントに相談する
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="group_6 row-layout">
  <div class="group_12 column-layout">
    <h2 class="element_2 element_3">
      業務アプリのUIには課題が山積み
    </h2>
    <p class="igx-typography__subtitle-1 element_3 text_4">
      業務アプリケーションは業務で必要な複雑なオペレーションや処理、情報の視覚化が必要になるため、そもそも実装の難易度が高く、複雑化します。
そのような前提を十分に認識せずにUI（画面）開発の専門家が誰もいないような状態で開発を行うと、以下のような問題を引き起こします。
    </p>
    <div class="group_35 row-layout">
      <div class="group_29 column-layout">
        <div class="group_28 row-layout">
          <igx-icon class="icon_1">
            filter_1
          </igx-icon>
          <p class="igx-typography__subtitle-2 element_5 text_4">
            エンドユーザーの視点
          </p>
        </div>
        <h3 class="h3">
          思ったように操作できない
        </h3>
        <p class="element_5 text_4">
          そもそも複雑な画面であるため、まず使い方が分からないという意見が出やすく、次に例えば「エクセルと同じ操作性や機能が」欲しいといった使いなれたアプリと比較した要望が発生し、そういった意見がさらに設計・要件定義を難しくさせます。
        </p>
      </div>
      <div class="group_29 column-layout">
        <div class="group_28 row-layout">
          <igx-icon class="icon_1">
            filter_2
          </igx-icon>
          <p class="igx-typography__subtitle-2 element_5 text_4">
            開発者の視点
          </p>
        </div>
        <h3 class="h3">
          正解が分からない
        </h3>
        <p class="element_5 text_4">
          最適な画面開発をするためには業務ドメインについても詳しく、UIの知見もある人物による設計が必要ですが、確保は困難です。結果的にエンドユーザーの声が強く反映された設計となり、より複雑で独自色の強い開発を行うこととなります。
        </p>
      </div>
      <div class="group_29 column-layout">
        <div class="group_28 row-layout">
          <igx-icon class="icon_1">
            filter_3
          </igx-icon>
          <p class="igx-typography__subtitle-2 element_5 text_4">
            管理者の視点
          </p>
        </div>
        <h3 class="h3">
          コストがかかる
        </h3>
        <p class="element_5 text_4">
          UI開発は設計時点から問題をかかえることが多く、手戻りが発生しやすいため人的コスト増やスケジュール遅延の問題が起こります。またはそれらを避けるために当初予定していた機能を削減するなどの対応を行うと最終的なエンドユーザーの業務効率を下げてしまいます。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="group_32 group_35 row-layout">
  <div class="group_13 column-layout">
    <h2 class="element_2 element_3">
      高機能かつハイパフォーマンスなUI部品
インフラジスティックスは多くの業務アプリケーションに採用されています
    </h2>
    <img src="/assets/sampleapps.png" class="image_3" />
    <p class="element_3 text_4">
      インフラジスティックスはUI（画面）開発における上記のような課題を解決するため、高機能でありデザイン性が高く、かつハイパフォーマンスなUIコントロールを30年以上にわって全世界で提供しているグローバルリーダー企業です。
    </p>
    <p class="element_3 text_4">
      常に最新の技術に対応しながら成長してきたインフラジスティックスの製品は、米国フォーチュン500企業の多くで標準的に採用されているだけでなく、日本国内でも5,000社以上のお客様にご利用頂いております。
    </p>
    <p class="element_3 text_4">
      多くのお客様からフィードバックをいただき、長い年月かけてアップデートを続けてきたインフラジスティックスのUIコントロールは、業務アプリ開発において要件としてあがりやすい多くの高機能な実装が組み込まれており、開発者は簡単な設定でそれらの機能をエンドユーザーが利用できるようにしたり、豊富なデザインカスタマイズ性能によってシステムにあったデザインを提供することができます。また、設計段階からインフラジスティックスのUIコントロールをもとに画面の組み立てを行うことで、手戻りのない開発プロジェクトを進行いただけます。
    </p>
    <div class="group_35 row-layout">
      <div class="group_14 column-layout">
        <h4 class="h4">
          「業務アプリUI開発の課題 インフラジスティックスがどのように解決するか」
        </h4>
        <p class="element_2 element_3 element_5">
          業務アプリケーション開発におけるUI（画面）部分の課題と、その課題をインフラジスティックスがどのように解決するかについて、ウェビナーでより詳細にご説明しています。ぜひお気軽にご参加ください。
        </p>
        <button igxButton="raised" igxRipple class="button_1">
          <igx-icon>
            how_to_reg
          </igx-icon>
          <span>参加登録はこちら</span>
        </button>
        <div class="group">
          <p class="igx-typography__caption text">
            定期ウェビナー開催中
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="group_23 group_32 row-layout">
  <div class="group_15 column-layout">
    <div class="element_3 group_35 row-layout">
      <div class="group_30 column-layout">
        <igx-icon class="icon">
          format_quote
        </igx-icon>
        <p class="text_1">
          UI部品のみならずExcelライブラリのような高機能コンポーネントの提供、製品ソースコードの公開、さらには充実したサポート面を考えると、Infragistics Ultimate UI for WPFでないと今回のプロジェクトは成功しなかったと考えています。
        </p>
        <p class="igx-typography__body-2 text_2">
          株式会社日立製作所 制御プラットフォーム統括本部 情報制御第二本部 電力システム設計部 技師 本田 哲夫氏
        </p>
      </div>
    </div>
    <div class="group_35 row-layout">
      <div class="group_29 column-layout">
        <h3 class="element_4 element_5">
          2.3億
        </h3>
        <p class="igx-typography__subtitle-1 element_4 element_5">
          JS対応のグリッド開発費用
        </p>
        <p class="element_5 text_4">
          JS対応のIGグリッドを０から開発しようとした場合、設計・構築・テストを含めるとコスト試算は約2.3億円となります。このような莫大な開発費用をかけた部品をすぐにご利用いただけます。
        </p>
      </div>
      <div class="group_29 column-layout">
        <h3 class="element_4 element_5">
          25営業日
        </h3>
        <p class="igx-typography__subtitle-1 element_4 element_5">
          IGツールの費用回収期間
        </p>
        <p class="element_5 text_4">
          インフラジスティックスの研究結果によると、開発者一人あたりの平均的な雇用コストとIGツール利用によって削減されるコストを照らし合わせると長くても25営業日でROIが100％を超えます。
        </p>
      </div>
      <div class="group_29 column-layout">
        <h3 class="element_4 element_5">
          54%
        </h3>
        <p class="igx-typography__subtitle-1 element_4 element_5">
          IGツール利用での工数短縮
        </p>
        <p class="element_5 text_4">
          ある例では、インフラジスティックスのUIツールを利用した場合と標準コントロールを利用した場合の工数を比較すると、インフラジスティックスのUIツールを利用した場合に54％の工数短縮いたしました。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="group_32 group_35 row-layout">
  <div class="group_16 column-layout">
    <h2 class="element_2 element_3">
      代表的なコントロールの紹介
    </h2>
    <p class="igx-typography__subtitle-2 element_2 text_3">
      特に高機能で複雑な表現が求められ、かつ業務オペレーションを加速するハイパフォーマンスなUI部品は、インフラジスティックスのコントロールを利用することで開発コストを大幅に削減可能です。
    </p>
  </div>
</div>
<div class="group_27 row-layout">
  <div class="group_32 group_33 row-layout">
    <div class="group_23 group_24 row-layout">
      <img src="/assets/Picture1.gif" class="image_2" />
    </div>
    <div class="group_31 row-layout">
      <div class="group_22 column-layout">
        <h3 class="element_1">
          データグリッド
        </h3>
        <p class="igx-typography__subtitle-1 element_4">
          9割以上のプロジェクトで利用される業務アプリの頻出UI
        </p>
        <p class="element_4">
          大量のデータを一覧表示する部品です。数万件のデータを軽快に扱えるようにパフォーマンス・チューニングされており、ソートやフィルター、列非表示や列固定などユーザーがデータを理解しやすくなるような様々な機能がビルトインされています。
        </p>
        <p class="element_4">
          特に一覧表示画面でそのままデータの編集を行いたい場合は、スムーズなデータ入力体験やコピー・アンド・ペースト、Undo・Redoなど有用な機能を利用いただけます。
        </p>
        <p class="text_3 text_4">
          データグリッド、階層グリッド、ツリーグリッド、ピボットグリッドなど様々なタイプのグリッドが用意されています。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="group_27 row-layout">
  <div class="group_32 group_33 row-layout">
    <div class="group_26 row-layout">
      <div class="group_22 column-layout">
        <h3 class="element_1">
          データチャート
        </h3>
        <p class="igx-typography__subtitle-1 element_4">
          ストリーミング表現も可能な高機能チャート
        </p>
        <p class="element_4">
          データを視覚的に理解しやすい形で表現する際に利用されるUIコントロールです。業務アプリの利用シナリオに対応するため大量データを取り扱えるようチューニングされています。
        </p>
        <p class="element_4">
          折れ線チャートや棒チャート、パイチャートのような基本的なチャートから、極座標チャート、ラジアルチャート、高密度の散布チャートなどより専門的な用途に利用いただけるチャートまで60以上のチャート表現が用意されています。
        </p>
        <p class="text_3 text_4">
          チャートに付随する機能も豊富で、ズーム表示やトレンドラインの描画、軸や目盛りのカスタマイズ、ライブデータのストリーミング表現など様々なシナリオに対応可能です。
        </p>
      </div>
    </div>
    <div class="group_7 row-layout">
      <img src="/assets/test.gif" class="image_2" />
    </div>
  </div>
</div>
<div class="group_27 row-layout">
  <div class="group_32 group_33 row-layout">
    <div class="group_8 row-layout">
      <img src="https://i.gyazo.com/e7d12e2d2ed9f0cf8a36fe95052ce7a0.gif" class="image_2" />
    </div>
    <div class="group_31 row-layout">
      <div class="group_25 column-layout">
        <h3 class="element_1">
          スプレッドシート
        </h3>
        <p class="igx-typography__subtitle-1 element_4">
          アプリケーション内にExcelライクなUIを再現
        </p>
        <p class="element_4">
          Microsoft Excel の機能を再現するために作成された複雑なコントロールです。内部では Excel Engine/Excel フレームワークが使用されており、既存の Excel ファイルを読み込むことや、ユーザーが入力、変更した内容を Excelファイルに保存する機能を提供します。
        </p>
        <p class="text_3 text_4">
          「Excel ファイルを読み込んで画面表示したい」
「Excel のテンプレートをベースに帳票出力する場合、ユーザーに Excel のテンプレートを編集させたい」
「Excel ファイルをデータとして取り込む際にエラーチェックを実施し、結果を視覚的に表示したい、更に画面上で修正を許可したい」
といった様々なシナリオでご活用いただけます。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="group_27 row-layout">
  <div class="group_32 group_33 row-layout">
    <div class="group_26 row-layout">
      <div class="group_25 column-layout">
        <h3 class="element_1">
          ドックマネージャー
        </h3>
        <p class="igx-typography__subtitle-1 element_4">
          ユーザーが自由レイアウト可能なワークプレイスを提供
        </p>
        <p class="element_4">
          画面をいくつかのペインに分割し、各ペインをユーザーの好みに合わせてドッキング、ピン止め、フローティングなど行うことができる、Visual Studio のドッキング及びピン止め可能なツールボックスやプロパティウィンドウの利用イメージに近いコントロールです。
        </p>
        <p class="text_3 text_4">
          複雑な業務オペレーションにおいてエンドユーザーが独自に使いやすい画面レイアウトを定義できる機能を提供することで、様々なタイプや役割のユーザーのUXを向上させることが可能です。
        </p>
      </div>
    </div>
    <div class="group_9 row-layout">
      <img src="/assets/ignite-ui-asp-net-core-data-analysis-dock-manager-sample-app-1600_1-min.gif" class="image_2" />
    </div>
  </div>
</div>
<div class="group_27 row-layout">
  <div class="group_32 group_33 row-layout">
    <div class="group_10 row-layout">
      <img src="/assets/51ef9d90e8daff68cd1a9b294f805c04.gif" class="image_2" />
    </div>
    <div class="group_31 row-layout">
      <div class="group_25 column-layout">
        <h3 class="element_1">
          ダイアグラム
        </h3>
        <p class="igx-typography__subtitle-1 element_4">
          エンドユーザーに作図機能を提供する高機能部品
        </p>
        <p class="element_4">
          フローチャートや相関図など様々なダイアグラムを作成および表示するための一連の機能を備えたUIコントロールです。
        </p>
        <p class="element_4">
          ・フローチャートを作図または表示したい
・オブジェクト間の関係性を図として表現したい
・回路図や路線図など矩形や位置などをアプリケーション上で表現したい
        </p>
        <p class="text_3 text_4">
          上記のような要件を満たすUI部品をスクラッチで開発するハードルは高く、インフラジスティックスの提供するダイアグラムコントロールの利用をおすすめします。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="group_11 row-layout">
  <div class="group_17 column-layout">
    <h4 class="element_2 element_3">
      よくある質問と答え
    </h4>
    <igx-expansion-panel class="expansion-panel">
      <igx-expansion-panel-header iconPosition="right">
        <igx-expansion-panel-title>
          製品価格について知りたい
        </igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <p class="text_4">
          以下より製品価格表をダウンロードいただけます。
        </p>
        <a href="https://download.infragistics.com/marketing/Website/JP/Sales/2021%E8%A3%BD%E5%93%81%E4%BE%A1%E6%A0%BC%E8%A1%A8-New%20Ver..pdf" target="_blank" class="igx-typography__body-1 hyperlink">
          製品価格PDF
        </a>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
    <igx-expansion-panel class="expansion-panel">
      <igx-expansion-panel-header iconPosition="right">
        <igx-expansion-panel-title>
          開発ツールの利用方法を理解するまで時間がかかりそう...
        </igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <p class="text_4">
          インフラジスティックス・ジャパンの専任技術サポートチームがIGコントロールを利用した開発方法に関して、丁寧にサポートいたしますので知識やスキルに不安がある場合でも安心してご利用をはじめていただけます。
        </p>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
    <igx-expansion-panel class="expansion-panel">
      <igx-expansion-panel-header iconPosition="right">
        <igx-expansion-panel-title>
          サブスクリプションが切れたら製品は利用できなくなる？
        </igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <p class="text_4">
          サブスクリプション有効期間中に取得いただいた製品や、IG製品を利用して開発されたアプリケーションは、サブスクリプションが切れてもご利用いただけます。
        </p>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
    <igx-expansion-panel class="expansion-panel">
      <igx-expansion-panel-header iconPosition="right">
        <igx-expansion-panel-title>
          複数の端末にインストールできる？
        </igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <p class="text_4">
          インフラジスティックスの開発ツールのライセンス体系は「開発者１名あたり」に紐づいており、製品利用者として登録された開発者が利用する端末の数に制限はありません。
        </p>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
    <igx-expansion-panel class="expansion-panel_1">
      <igx-expansion-panel-header iconPosition="right">
        <igx-expansion-panel-title>
          利用者は途中で変更できる？
        </igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <p class="text_4">
          サブスクリプション有効期間中であれば、同じ組織のメンバー間で自由に製品利用者の紐づけを変更していただくことが可能です。
プロジェクトAの開発者が利用していたライセンスをプロジェクトBの開発者にアサインするなどして効率的に開発を行っていただけます。
        </p>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
  </div>
</div>
<div class="group_23 group_32 row-layout">
  <div class="group_18 column-layout">
    <h4 class="element">
      ウェブ会議で疑問を解消いただけます。
    </h4>
    <p class="igx-typography__subtitle-2 element">
      ご自身の開発プロジェクトの要件にインフラジスティックスの開発ツールがマッチするかなど評価のお手伝いをさせていただきます。
以下のフォームよりお気軽にご予約ください。
    </p>
    <h6 class="element_2 element_3">
      &lt;! -- ここにフォーム埋め込む --&gt;
    </h6>
    <p class="igx-typography__body-2 element_4 element_5">
      または...
    </p>
    <button igxButton="raised" igxRipple class="button_2">
      <igx-icon>
        cloud_download
      </igx-icon>
      <span>トライアル版をダウンロードする</span>
    </button>
  </div>
</div>
<div class="group_32 group_35 row-layout">
  <div class="group_19 column-layout">
    <div class="group_21 row-layout">
      <div class="group_30 column-layout">
        <h6 class="element_1">
          インフラジスティックス・ジャパン株式会社
        </h6>
        <p class="igx-typography__body-2 text_4">
          電話番号：050-1745-6258（営業時間：平日9:00-18:00）
        </p>
        <p class="igx-typography__body-2 text_4">
          お問い合わせ先アドレス：JapanSalesGroup@infragistics.com
        </p>
        <p class="igx-typography__body-2 text_4">
          本店所在地：東京都中央区銀座6-13-16　銀座Wallビル　UCF5階
        </p>
      </div>
    </div>
    <p class="igx-typography__overline element_2">
      © Copyright 2022 INFRAGISTICS. All Rights Reserved
    </p>
  </div>
</div>
