.group {
  justify-content: space-between;
  padding: 25px 2rem;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: stretch;
  min-height: 75px;
}
// :host {
//   background: linear-gradient(to bottom right, #232838, #00024a);
// }
// .group_5 {
//   background: none;
// }
.group_35 {
  h5 {
    font-size: 3rem;
    font-weight: normal;
  }
}
h2.element_2 {
  white-space: pre-line;
}
h4 {
  font-weight: bold;
}
button {
  padding: 1em 3em;
}
.image_1 {
  opacity: .5;
}