<div class="group_1 row-layout">
  <div class="group row-layout">
    <img src="/assets/Infragistics-horizontal.svg" class="image" />
    <div class="group_25 row-layout">
      <p class="text_2">
        link1
      </p>
      <p class="text_2">
        link1
      </p>
      <p class="text_2">
        link1
      </p>
      <p class="text_2">
        link1
      </p>
    </div>
  </div>
</div>
<div class="group_16 row-layout">
  <div class="group_4 row-layout">
    <div class="group_13 column-layout">
      <h3 class="element_1">
        Supercharge your conversion 
rates and increase sales
      </h3>
      <p class="element_1">
        We design high-converting landing pages and optimize them through A/B testing to give you more signups, leads, and customers.
      </p>
      <button igxButton="raised" igxRipple class="button">
        Get my free consult
      </button>
    </div>
  </div>
</div>
<div class="group_5 row-layout">
  <div class="group_26 group_29 row-layout">
    <img src="/assets/0670c634-logo-nintex-alt_106o01q000000000000000.png" class="image_3" />
    <img src="/assets/4226f733-logo-campaignmonitor_107s00s000000000000000.png" class="image_3" />
    <img src="/assets/ea70aa9d-logo-signicat_106o00s000000000000000.png" class="image_3" />
    <img src="/assets/ea70aa9d-logo-signicat_106o00s000000000000000.png" class="image_3" />
    <img src="/assets/e11041fb-logo-eiendomsmegler1_106o016000000000000000.png" class="image_3" />
  </div>
</div>
<div class="group_30 group_34 row-layout">
  <div class="group_6 column-layout">
    <h4 class="element">
      Don't waste money on more traffic 
- fix your landing pages first
    </h4>
    <h5 class="element">
      Benefit from our expertise in designing and managing conversion-centered landing pages for your paid traffic. Once we've designed, completed copy, and built your landing page, we optimize it to perform even better over time.
    </h5>
    <div class="group_33 row-layout">
      <div class="group_28 column-layout">
        <igx-icon class="icon_1">
          flight_takeoff
        </igx-icon>
        <h5 class="h5_1">
          Increase conversion rates
        </h5>
        <p class="element_4">
          Highly targeted landing pages will increase your conversion rates, and optimization with A/B testing takes you to the next level. 
        </p>
      </div>
      <div class="group_28 column-layout">
        <igx-icon class="icon_1">
          thumb_up_alt
        </igx-icon>
        <h5 class="h5_1">
          Reduce cost per acquisition
        </h5>
        <p class="element_4">
          Higher conversion rates means you get more business from your current traffic, and reduce cost per acquisition.
        </p>
      </div>
      <div class="group_28 column-layout">
        <igx-icon class="icon_1">
          assessment
        </igx-icon>
        <h5 class="h5_1">
          Improve your ROI


        </h5>
        <p class="element_4">
          Stop wasting money on more traffic. Get more leads on your existing traffic instead. At the end, this skyrockets your ROI.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="group_30 group_34 row-layout">
  <div class="group_7 column-layout">
    <h4 class="element_2 element_3">
      Our services
    </h4>
    <div class="group_33 row-layout">
      <div class="group_17 group_20 column-layout">
        <igx-avatar initials="IG" size="medium" [roundShape]="true" class="avatar"></igx-avatar>
        <h5 class="h5">
          Full service - growth
        </h5>
        <p class="element_2 element_3">
          Serious about optimization? Outsource everything to us. We design, optimize, analyze and report on your results on a monthly retainer.
        </p>
        <button igxButton="raised" igxRipple class="button_1">
          I need help with growth
        </button>
      </div>
      <div class="group_17 group_21 column-layout">
        <igx-avatar initials="IG" size="medium" [roundShape]="true" class="avatar"></igx-avatar>
        <h5 class="h5">
          Full service - growth
        </h5>
        <p class="element_2 element_3">
          Serious about optimization? Outsource everything to us. We design, optimize, analyze and report on your results on a monthly retainer.
        </p>
        <button igxButton="raised" igxRipple class="button_1">
          I need help with growth
        </button>
      </div>
    </div>
  </div>
</div>
<div class="group_23 row-layout">
  <div class="group_8 column-layout">
    <div class="element_2 group_33 row-layout">
      <div class="group_28 column-layout">
        <igx-icon class="icon">
          format_quote
        </igx-icon>
        <p class="element_4">
          Conversion Lab has helped Campaign Monitor grow our business by optimizing our landing pages. We’ve increased conversion rates by 260% and seen a significant reduction in customer acquisition cost. We are very happy with the results!
        </p>
      </div>
      <div class="group_14 column-layout">
        <igx-avatar src="https://d9hhrg4mnvzow.cloudfront.net/conversionlab.no/6f4a786d-shamita-crop_109m09207w07w012000000.jpg" size="large" [roundShape]="true"></igx-avatar>
        <p class="text">
          Shamita Jayakumar
        </p>
        <p class="igx-typography__caption text_1">
          Senior Marketing Manager
        </p>
      </div>
    </div>
    <div class="group_33 row-layout">
      <div class="group_28 column-layout">
        <h3 class="element_1">
          1187%
        </h3>
        <h5 class="element_1">
          UPLIFT IN CVR
        </h5>
        <p class="element_4">
          The total uplift combined at an average 36% uplift per test.
        </p>
      </div>
      <div class="group_28 column-layout">
        <h3 class="element_1">
          33
        </h3>
        <h5 class="element_1">
          A/B TESTS PERFORMED
        </h5>
        <p class="element_4">
          Based on solid hypothesis and across several pages.
        </p>
      </div>
      <div class="group_28 column-layout">
        <h3 class="element_1">
          64%
        </h3>
        <h5 class="element_1">
          REDUCTION IN CAC
        </h5>
        <p class="element_4">
          Increased conversion rates means reduced customer acquisition cost.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="group_30 group_34 row-layout">
  <div class="group_18 column-layout">
    <div class="group_33 row-layout">
      <div class="group_27 column-layout">
        <h5 class="element_2 element_4">
          Expect increase in conversion rates with targeted landing pages
        </h5>
        <p class="element_1">
          Relevant messaging is key to getting more leads, sales, and sign-ups—so give your visitors exactly what they’re looking for with custom-built landing pages.
        </p>
        <p class="element_4">
          With targeted landing pages you will experience more leads from the same amount of traffic due to higher conversion rates. In turn, this will reduce your cost per lead or cost per acquisition.
        </p>
      </div>
      <div class="group_21 group_26 group_31 column-layout">
        <img src="/assets/Picture1.gif" class="image_2" />
      </div>
    </div>
  </div>
</div>
<div class="group_30 group_34 row-layout">
  <div class="group_18 column-layout">
    <div class="group_33 row-layout">
      <div class="group_20 group_26 group_31 column-layout">
        <img src="/assets/Picture1.gif" class="image_2" />
      </div>
      <div class="group_27 column-layout">
        <h5 class="element_2 element_4">
          Expect increase in conversion rates with targeted landing pages
        </h5>
        <p class="element_1">
          Relevant messaging is key to getting more leads, sales, and sign-ups—so give your visitors exactly what they’re looking for with custom-built landing pages.
        </p>
        <p class="element_4">
          With targeted landing pages you will experience more leads from the same amount of traffic due to higher conversion rates. In turn, this will reduce your cost per lead or cost per acquisition.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="group_26 group_30 row-layout">
  <div class="group_30 group_32 row-layout">
    <div class="group_9 row-layout">
      <img src="/assets/Picture1.gif" class="image_1" />
    </div>
    <div class="group_24 row-layout">
      <div class="group_19 column-layout">
        <h5 class="element_2 element_4">
          Expect increase in conversion rates with targeted landing pages
        </h5>
        <p class="element_1">
          Relevant messaging is key to getting more leads, sales, and sign-ups—so give your visitors exactly what they’re looking for with custom-built landing pages.
        </p>
        <p class="element_4">
          With targeted landing pages you will experience more leads from the same amount of traffic due to higher conversion rates. In turn, this will reduce your cost per lead or cost per acquisition.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="group_26 group_30 row-layout">
  <div class="group_30 group_32 row-layout">
    <div class="group_15 row-layout">
      <div class="group_19 column-layout">
        <h5 class="element_2 element_4">
          Expect increase in conversion rates with targeted landing pages
        </h5>
        <p class="element_1">
          Relevant messaging is key to getting more leads, sales, and sign-ups—so give your visitors exactly what they’re looking for with custom-built landing pages.
        </p>
        <p class="element_4">
          With targeted landing pages you will experience more leads from the same amount of traffic due to higher conversion rates. In turn, this will reduce your cost per lead or cost per acquisition.
        </p>
      </div>
    </div>
    <div class="group_3 row-layout">
      <img src="/assets/Picture1.gif" class="image_1" />
    </div>
  </div>
</div>
<div class="group_22 row-layout">
  <div class="group_10 column-layout">
    <h4 class="element_2 element_3">
      FAQ
    </h4>
    <igx-expansion-panel class="expansion-panel">
      <igx-expansion-panel-header iconPosition="right">
        <igx-expansion-panel-title>
          What is Shopify and how does it work?
        </igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <p class="element_4">
          Shopify is a complete commerce platform that lets you start, grow, and manage a business.

With Shopify, you can:

Create and customize an online store
Sell in multiple places, including web, mobile, social media, online marketplaces, brick-and-mortar locations, and pop-up shops
Manage products, inventory, payments, and shipping
Shopify is completely cloud-based and hosted, which means you don’t have to worry about upgrading or maintaining software or web servers. This gives you the flexibility to access and run your business from almost anywhere, including your mobile device.
        </p>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
    <igx-expansion-panel class="expansion-panel">
      <igx-expansion-panel-header iconPosition="right">
        <igx-expansion-panel-title>
          What is Shopify and how does it work?
        </igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <p class="element_4">
          Shopify is a complete commerce platform that lets you start, grow, and manage a business.

With Shopify, you can:

Create and customize an online store
Sell in multiple places, including web, mobile, social media, online marketplaces, brick-and-mortar locations, and pop-up shops
Manage products, inventory, payments, and shipping
Shopify is completely cloud-based and hosted, which means you don’t have to worry about upgrading or maintaining software or web servers. This gives you the flexibility to access and run your business from almost anywhere, including your mobile device.
        </p>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
    <igx-expansion-panel class="expansion-panel">
      <igx-expansion-panel-header iconPosition="right">
        <igx-expansion-panel-title>
          What is Shopify and how does it work?
        </igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <p class="element_4">
          Shopify is a complete commerce platform that lets you start, grow, and manage a business.

With Shopify, you can:

Create and customize an online store
Sell in multiple places, including web, mobile, social media, online marketplaces, brick-and-mortar locations, and pop-up shops
Manage products, inventory, payments, and shipping
Shopify is completely cloud-based and hosted, which means you don’t have to worry about upgrading or maintaining software or web servers. This gives you the flexibility to access and run your business from almost anywhere, including your mobile device.
        </p>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
    <igx-expansion-panel class="expansion-panel">
      <igx-expansion-panel-header iconPosition="right">
        <igx-expansion-panel-title>
          What is Shopify and how does it work?
        </igx-expansion-panel-title>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <p class="element_4">
          Shopify is a complete commerce platform that lets you start, grow, and manage a business.

With Shopify, you can:

Create and customize an online store
Sell in multiple places, including web, mobile, social media, online marketplaces, brick-and-mortar locations, and pop-up shops
Manage products, inventory, payments, and shipping
Shopify is completely cloud-based and hosted, which means you don’t have to worry about upgrading or maintaining software or web servers. This gives you the flexibility to access and run your business from almost anywhere, including your mobile device.
        </p>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
  </div>
</div>
<div class="group_23 row-layout">
  <div class="group_11 column-layout">
    <h4 class="element_2 element_3">
      Don't waste money on more traffic 
- fix your landing pages first
    </h4>
    <h5 class="element_2 element_3">
      Benefit from our expertise in designing and managing conversion-centered landing pages for your paid traffic. Once we've designed, completed copy, and built your landing page, we optimize it to perform even better over time.
    </h5>
    <div class="group_2 column-layout">
      <h4 class="h4">
        Get my free consult now
      </h4>
    </div>
  </div>
</div>
<div class="group_30 group_34 row-layout">
  <div class="group_12 column-layout">
    <div class="element_2 group_33 row-layout">
      <div class="group_28 column-layout">
        <h5 class="h5_1">
          Location
        </h5>
        <p class="element_4">
          H. O. Christiansens veg 31
7048 Trondheim 
Norway
        </p>
      </div>
      <div class="group_28 column-layout">
        <h5 class="h5_1">
          Company
        </h5>
        <p class="element_4">
          ConversionLab is a small team of dedicated marketers based in Trondheim, Norway - serving the world.
        </p>
      </div>
    </div>
    <p class="igx-typography__overline element_3">
      © Copyright 2022 INFRAGISTICS. All Rights Reserved
    </p>
  </div>
</div>
