.group_1 {
  justify-content: space-between;
  padding: 25px 2rem;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: stretch;
  min-height: 75px;
}
.group_5 {
  background: none;
  padding-bottom: 2.5em;
}
.group_20 {
  max-width: 82%;
}
.group_23 {
  .group_35 {
    h3 {
      font-size: 3.5rem;
      font-weight: normal;
      line-height: 1;
    }
  }
}
.group_27 {
  h3 {
    font-size: 1.8rem;
    margin-bottom: 0.7em;
  }
  .group_25.column-layout,
  .group_22.column-layout {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}
.group_34 {
  background: linear-gradient(to bottom right, #232838, #00024a);
}
.group_35 {
  h5 {
    font-size: 3rem;
    font-weight: normal;
  }
}
h1 {
  letter-spacing: 0;
  font-size: 2.25rem;
  font-weight: bold;
}
h2.element_2 {
  white-space: pre-line;
}
h4 {
  font-weight: bold;
}
button {
  padding: 1em 3em;
}
.image {
  width: 200px;
}
.image_1 {
  opacity: .5;
}
.image_2 {
  object-fit: contain;
}
::ng-deep {
  .igx-typography {
    .expansion-panel {
      margin-bottom: 1.5em;
    }
    .igx-expansion-panel__body {
      padding: 1em 2em;
    }
    button {
      .igx-icon {
        display: none;
      }
      span {
        font-weight: bold;
        letter-spacing: 0.1em;
        margin: 0;
        padding-bottom: 0.2em;
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .group_2,
  .group_12,
  .group_13,
  .group_15,
  .group_16,
  .group_17,
  .group_18 {
    max-width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .group_32.row-layout {
    max-width: 100%;
  }
  .group_23 {
    .group_35 {
      h3 {
        font-size: 3rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .group_35.row-layout {
    flex-wrap: wrap;
    .column-layout {
      min-width: 96%;
      margin: 0 0 2em;
    }
  }
  .group_12,
  .group_13 {
    padding-bottom: 1rem;
  }
  .group_32.row-layout {
    flex-direction: column;
    .row-layout {
      width: 100%;
      padding: 2em;
      img {
        max-width: 600px;
        margin: 0 auto;
      }
      .column-layout {
        max-width: 100%;
      }
    }
    .group_35,
    .group_21 {
      padding: 0;
      margin: 0;
    }
  }
  .sp-column-r.row-layout {
    flex-direction: column-reverse;
  }
  .group_27 {
    .group_25.column-layout,
    .group_22.column-layout {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
@media screen and (max-width: 420px) {
  .group_14.column-layout {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3.5em;
  }
  .group_32.row-layout {
    .row-layout {
      padding: 0;
    }
  }
  .group_3 {
    width: auto;
  }
  .group_20 {
    max-width: inherit;
  }
  .image_1 {
    opacity: .3;
  }
}